@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Watermark Enterprise Anti-Maling */
.watermark-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    max-width: 500px;
    height: 60vh;
    opacity: 0.03; /* Sangat transparan */
    pointer-events: none; /* Tombol di layar tetap bisa diklik */
    z-index: 9999;
    /* Nanti siapkan file gambar di assets/images/watermark-logo.png */
    background-image: url('../assets/images/watermark-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    user-select: none;
}

/* TWEAK KHUSUS BAHASA ARAB */
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

.font-arabic {
    font-family: 'Amiri', serif !important;
    font-size: 1.5em; /* Huruf Arab butuh ukuran lebih besar agar harakatnya jelas */
    line-height: 2;
}

/* Memastikan input textarea otomatis cerdas */
textarea[dir="auto"], input[dir="auto"] {
    text-align: start;
}
